<!DOCTYPE html>
<html>
<head>
    <style>
    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        background-color: white;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 50px;
        text-align: center;
      }

    </style>
</head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<div  align="center">
    <h1><img src="{{EVENT_LOGO_URL}}" alt="Event logo" style="height:80px;padding-right:0">
        Action Areas</h1>

  {% if station_list %}
    <h3>Choose from the following options</h3>
    
    <ul>
    {% for station in station_list %}
    <li><a href="{% url 'carbon_calculator:stations' station.number %}">{{ station.name }}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <p>No stations are available.</p>
{% endif %}
</div>    
</html>
